[submodule "submodules/driver_mpu6050"]
	path = submodules/driver_mpu6050
	url = /home/thales/repo/bare/driver_mpu6050.git
[submodule "submodules/matrices"]
	path = submodules/matrices
	url = /home/thales/repo/bare/matrices.git
