[submodule "mod/libmtx"]
	path = mod/libmtx
	url = https://github.com/ThalesBarretto/libmtx.git
[submodule "mod/libmpu6050"]
	path = mod/libmpu6050
	url = https://github.com/ThalesBarretto/libmpu6050.git
